Package: ease-framework-doc
Source: ease-framework
Version: 1.1.3-5
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 4862
Suggests: www-browser
Section: doc
Priority: optional
Homepage: http://vitexsoftware.cz/ease.php
Description: Ease Framework documentation
 ApiGen html documentation for ease-framework php library
